body {
  background: #000;
  color: #ffff;
}
a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 2px solid white;
  margin-top: 20px;
  text-align: center
  
  
}
:hover a {
  color: red;
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 2px solid white;
  margin-top: 20px;
  text-align: center
}